HTTP_RPC_URL=https://rpc.hyperliquid.xyz/evm
WSS_RPC_URL=dummy

MORPHO_ADDRESS=0x68e37de8d93d3496ae143f2e900490f6280c57cd
TARGET_MARKET_ID=0x64e7db7f042812d4335947a7cdf6af1093d29478aff5f1ccd93cc67f8aadfddc

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

POLL_INTERVAL_MS=5000
BLOCK_CONFIRMATIONS=2
MAX_BLOCKS_PER_POLL=20
STATE_FILE=.monitor-state.json
